append variables
  -
    const brands = [
      {
        src: `${CWD}assets/img/gallery/brands/google.png`,
        alt: 'Google'
      },
      {
        src: `${CWD}assets/img/gallery/brands/slack.png`,
        alt: 'Slack'
      },
      {
        src: `${CWD}assets/img/gallery/brands/amazon.png`,
        alt: 'Amazon'
      },
      {
        src: `${CWD}assets/img/gallery/brands/zoom.png`,
        alt: 'Zoom'
      },
      {
        src: `${CWD}assets/img/gallery/brands/netflix.png`,
        alt: 'Netflix'
      }
    ]
mixin Brands
  +Section
    .row.d-flex.justify-content-center.mx-md-5.px-md-5.align-items-center
      each item in brands
        div.col-4.col-lg.text-center.mt-5
          img(src=`${item.src}` alt=`${item.alt}`)
      div.mt-7.px-6.border-bottom.border-700
