append variables
  -
    const features3 = [
      {
        icon:`${CWD}assets/img/gallery/dashboardicon.png`,
        title:'Dashboard',
        alt: 'Dashboard',
        details: 'A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.'
      },
      {
        icon:`${CWD}assets/img/gallery/comment.png`,
        title:'Comment',
        alt: 'Comment',
        details: 'A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.'
      },
      {
        icon:`${CWD}assets/img/gallery/trilored.png`,
        title:'Tailored',
        alt: 'Tailored',
        details: 'A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.'
      },
      {
        icon:`${CWD}assets/img/gallery/statistics.png`,
        title:'Statistic',
        alt: 'Statistic',
        details: 'A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.'
      },
      {
        icon:`${CWD}assets/img/gallery/profile.png`,
        title:'Profiles',
        alt: 'Profiles',
        details: 'A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.'
      },
      {
        icon:`${CWD}assets/img/gallery/folder.png`,
        title:'Folders',
        alt: 'Folders',
        details: 'A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.'
      }
    ] 
mixin Features 
  +Section
    .text-md-center
      h1.display-6.fw-semi-bold  Feature
      p.fs-2 Our landing page template works on all devices, so you only have to set.
    .swiper-container(data-pagination-target='pagination')
      .swiper-wrapper.mb-4
        each item in features3
          .swiper-slide.pb-3
            .border.rounded-1.border-700.mt-5
              .py-4.px-3 
                img(src=`${item.icon}` alt=`${item.alt}` style={width:'48px',height:'48px'})
                h3.pt-3.lh-base #{item.title}
                p #{item.details}
      .swiper-pagination#pagination
