append variables
  -
    const footerIcon = [ 
      {
        img: `${CWD}assets/img/gallery/facebook-line1.svg`,
        link:'#!',
        alt:'fb'
      },
      {
        img: `${CWD}assets/img/gallery/linkedin-line1.svg`,
        link:'#!',
        alt:'in'
      },
      {
        img: `${CWD}assets/img/gallery/twitter-line1.svg`,
        link:'#!',
        alt:'twitter'
      },
      {
        img: `${CWD}assets/img/gallery/instagram-line1.svg`,
        link:'#!',
        alt:'instragram'
      }
    ]
  -
    const footerLinks = [
      {
        name: ' Terms & conditon ',
        link: '#!'
      },
      {
        name: 'Privacy Policy ',
        link: '#!'
      }
    ]
mixin Footer
  +Section.bg-secondary
    .row
      .col-xl-3.text-center.text-xl-start
        each item in footerIcon
          a(href=`${item.link}`)
            img.footer-img(src=`${item.img}` alt=`${item.alt}` class='me-xl-5 me-3' style={width:'20px',height:'20px'})
      .col-xl-4.pt-2.pt-xl-0
        p.mb-0.text-center.text-xl-end
          each item,index in footerLinks
            a.text-300.text-decoration-none.footer-link(href=`${item.link}` class=  index!=0 && `ps-4` ) #{item.name} 
      .col-xl-5.pt-2.pt-xl-0.text-center.text-xl-end
        p.mb-0 &copy; This template is made with ❤️  by 
          a.text-300(href='https://themewagon.com/' target='_blank')  ThemeWagon