append variables
  -
    const footerIcon = [ 
      {
        img: `${CWD}assets/img/gallery/facebook-line 1.svg`
      },
      {
        img: `${CWD}assets/img/gallery/linkedin-line 1.svg`
      },
      {
        img: `${CWD}assets/img/gallery/twitter-line 1.svg`
      },
      {
        img: `${CWD}assets/img/gallery/instagram-line 1.svg`
      }
    ]
mixin Footer
  +Section.bg-secondary
    .row.text-center
      .col-md-4.pt-3.pt-md-0.text-md-start
        each item in footerIcon
          img(src=`${item.img}` class='me-md-4 me-2' style={width:'20px'})
      .col-md-4.pt-4.pt-md-0.text-md-center
        p Terms & conditon &nbsp;  Privacy Policy
      .col-md-4.pt-3.pt-md-0.text-md-end
        p 2020 All right reserved