append variables
  -
    const Plans = [
      {
        name: 'FREE',
        price: 0,
        events: '7,000,000+ Events',
        domains: '4 Custom Domains',
        support: 'Dedicated Support ',
        history: '12 Months Data History',
        ssl: '1 Dedicated SSL',
        mt: 'mt-md-9'
      },
      {
        name: 'BASIC',
        price: 23,
        events: '7,000,000+ Events',
        domains: '4 Custom Domains',
        support: 'Dedicated Support ',
        history: '12 Months Data History',
        ssl: '1 Dedicated SSL',
        mt: 'mt-0'
      },
        {
          name: 'PREMIUM',
          price: 59,
          events: '7,000,000+ Events',
          domains: '4 Custom Domains',
          support: 'Dedicated Support ',
          history: '12 Months Data History',
          ssl: '1 Dedicated SSL',
          mt: 'mt-md-9'
      },
    ]
  -
    var intro = {
      title: 'Pricing',
      description: 'SAFLOW'
    }
mixin Pricing
  +Section('container-lg')
    +SectionTitle(intro.title, intro.description)
    .row.d-flex.align-items-center
      each item in Plans
        .col-sm-9.col-md-4.mt-3.mx-auto
          .text-300.py-5.px-4.px-md-3.px-lg-4.rounded-1.bg-800.plans-cards(class = `${item.mt}`)
            h4.lh-base.fs-2.text-500.ls-2 #{item.name}
            h1.display-4.ls-3.lh-base
              span.text-500 $
              |#{item.price}
            hr.hr.mt-4.bg-1000
            li.mt-5 #{item.events}
            li #{item.domains}
            li #{item.support}
            li.small-item #{item.history}
            li #{item.ssl}
            button.btn.bg-600.mt-5 Get Started
              img(src=`${CWD}assets/img/gallery/button-arrow.png`)

