append variables
  -
    const features1 = [
      {
        icon:`${CWD}assets/img/gallery/dashboard icon.png`,
        title:'Dashboard',
        details: 'A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.'
      },
      {
        icon:`${CWD}assets/img/gallery/comment.png`,
        title:'Comment',
        details: 'A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.'
      },
      {
        icon:`${CWD}assets/img/gallery/trilored.png`,
        title:'Tailored',
        details: 'A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.'
      }
    ]   
  -
    const features2 = [
      {
        icon:`${CWD}assets/img/gallery/statistics.png`,
        title:'Statistic',
        details: 'A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.'
      },
      {
        icon:`${CWD}assets/img/gallery/profile.png`,
        title:'Profiles',
        details: 'A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.'
      },
      {
        icon:`${CWD}assets/img/gallery/folder.png`,
        title:'Folders',
        details: 'A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.'
      }
    ]       
  -var featureItems = [features1, features2]


mixin CaroselItems(num)
  .w-lg-75.mx-auto.mb-5
    .row.text-center
      each item in featureItems[num]
        .col-xl-4.pt-3
          .card.overflow-auto.border.border-700.rounded-1.bg-900
            .card-body.p-4
              img(src=`${item.icon}` style={width:'48px',height:'48px'})
              h3.pt-3.lh-base.ls-2 #{item.title}
              p.text-300.ls-1 #{item.details}